// Colors
$primary-color: #268bd2;
$current-color: #193549;
$weekend-color: #ff4136;
$text: #ffffff;
$border: #cccccc;

// Calendar styles
#calendar {
    font-family: Arial, sans-serif;
    max-width: 25rem;
    margin: 0 auto;
    text-align: center;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    color: $current-color;

    button {
        background-color: $primary-color;
        color: $text;
        border: none;
        padding: 0.6rem 1rem;
        border-radius: 0.3rem;
        cursor: pointer;

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }
}

table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
        border: 1px solid $border;
        padding: 0.7rem;
    }

    th {
        background-color: $primary-color;
        color: $text;
    }

    .weekend {
        color: $weekend-color;
    }

    .today,
    .current {
        font-weight: bolder;
        color: $current-color;
    }
}
